<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skr-status-plugin</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="{{pluginResources}}/template/assets/css/main.css">
</head>
<body>
    <div class="container">
        <!-- system -->
        <div class="glass-card system">
            <div class="left">
                <div class="value host-name">{{data.system.hostname}}</div>
                <div class="value distro  uptime">{{data.system.distro}} | {{data.system.upTime}}</div>
            </div>

            <div class="right">
                <div class="label">内核 / 架构</div>
                <div class="value platform arch">{{data.system.platform}}&nbsp;&nbsp;&nbsp;{{data.cpu.arch}}</div>
            </div>
        </div>

        <div class="split left">
            <!-- cpu memory -->
            <div class="glass-card cpu memory">
                <div class="cpu">
                    <div class="label">CPU负载</div>
                    <div class="value load speed big">{{data.cpu.load}}({{data.cpu.speed}})</div>
                    <div class="progress-bg">
                        <div class="progress-fill" style="width: {{data.cpu.loadPercent}}%"></div>
                    </div>
                    <div class="value name cores">{{data.cpu.name}}({{data.cpu.cores}})</div>
                </div>
            
                <div class="memory">
                    <div class="label">内存占用</div>
                    <div class="value active total big">{{data.memory.active}}/{{data.memory.total}}</div>
                    <div class="progress-bg">
                        <div class="progress-fill" style="width: {{data.memory.usagePercent}}%"></div>
                    </div>
                    <div class="value say">内存你给我降价!!</div>
                </div>
            </div>
            
            <!-- other info -->
            <div class="glass-card status">
                <div class="temp">
                    <div class="label">CPU温度</div>
                    <div class="value temp big">{{data.cpu.temp}}</div>
                </div>
                <div class="speed">
                    <div class="label">CPU频率</div>
                    <div class="value speed big">{{data.cpu.speed}}</div>
                </div> 
            </div>
        

            <!-- network -->
            <div class="glass-card network">
                <div class="label">网络</div>
                    <div class="txSpeed">↑{{data.network.txSpeed}}</div>
                    <div class="txSpeed">↓{{data.network.rxSpeed}}</div>
                    <div class="total">total ↑{{data.network.txTotal}}&nbsp;&nbsp;↓{{data.network.rxTotal}}</div>
            </div>
        </div>
            <!-- disk -->
            <div class="glass-card disk">
                <div class="label">总容量</div>
                <div class="value used total big">{{data.disk.used}} / {{data.disk.total}}</div>
                <div class="progress-bg">
                    <div class="progress-fill" style="width: {{data.disk.usagePercent}}%"></div>
                </div>

                <div class="label">物理硬盘</div>
                <div class="disk-list">
                    {{each data.disk.disk}}
                    <div class="info-item">
                        <span>
                            <span>[{{$value.type}}]</span>{{$value.name}}
                        </span>
                        <strong>{{$value.size}}</strong>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="split right"></div>
        
    </div>
    
</body>

</html>