:root {
    --glass: rgba(120, 120, 120, 0.25);
    --border: rgba(255, 255, 255, 0.15);
    --accent: #00f2fe;
    --text: #ffffff;
}

body {
    width: 1000px;
    margin: 0;
    padding: 40px;
    padding-top: 150px;
    background-image: url('../img/banner-original.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    color: var(--text);
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 132px auto;
    gap: 25px;
}

.glass-card {
    background: var(--glass);
    backdrop-filter: blur(5px) saturate(150%);
    /* -webkit-backdrop-filter: blur(25px) saturate(180%); */
    border: 1px solid var(--border);
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
/* system */
.system {
    grid-column: span 2;
    display: flex ;
    justify-content: space-between;
    align-content: center;
}

.left,.right{
    margin-right: 50px;
    align-content: center;
}
.value.host-name{
    font-size: 2em;
}
.value.distro {
    font-size: 1em;
    color: #e9e9e9;
}
.right .label{
    text-align: end;
}
.value.platform.arch{
    font-size: 1.2em;
}

.split.left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.glass-card.cpu.memory{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.glass-card .cpu{
    margin: 15px;
    padding-right: 10px;
    border-right: dotted #ffffffa0;
    box-sizing: border-box;
}
.glass-card .memory{
    margin: 15px;
    box-sizing: border-box;
}
.big{
    font-size: 1.5em;
    font-weight: 900;
    color: var(--accent);
    margin: 8px 0;
}

.glass-card.network, .glass-card.status{
    width: 40%;
}

.label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}


.progress-bg {
    width: 100%;
    height: 12px;
    background: rgba(255, 255, 255, 0.499);
    border-radius: 6px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #4facfe, #00f2fe);
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.disk-list {
    max-height: 180px;
    overflow: hidden;
}